.contactFormContainer {
  flex-direction: 'column';
}

.contactItem {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}

.contactItemDetail {
  display: flex;
  flex: 1;
}

.contactFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactFormInputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inputMessagesContainer {
  margin: 15px;
  width: 40%;
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: space-around;
}

.inputErrorMessage {
  color: red;
}